<div class="container mt-5">
  <div class="row justify-content-center mt-4">
    <form class="mt-5" method="post" action="/users">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Movie Search" name="search_movie"
          value="{{#each name}}{{Title}}{{/each}}" aria-label="Recipient's username" aria-describedby="button-addon2"
          required>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row mb-5 justify-center items-center align-items-center">
    {{#each name}}
    {{#each Search}}
    <div class="col-md-6 mt-3 mb-2">
      <div
        class="p-4 w-full text-center bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white"><span>{{Title}}</span> <span>{{Year}}</span>
        </h5>
        <a class="flex justify-center item-center content-center" href="/movie/{{imdbID}}"><img src="{{Poster}}"
            class="justify-center item-center" alt="poster" /></a>
        <div class="justify-center items-center sm:flex sm:space-y-0 sm:space-x-4">
          <a href="#"
            class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-center text-light">
              <a href="/users/movie/{{imdbID}}" class="font-sans text-sm font-semibold">
                <button
                  class="outline-none border border-info font-bold font-IBM mt-8 px-12 py-2 rounded-sm bg-info text-white transition duration-300 hover:bg-bc hover:text-white md:ml-0 md:my-4">View
                  Details</button></a>
            </div>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
    {{/each}}
  </div>
</div>