<div class="container mt-5">
    <div class="row align-items-center justify-content-center mb-5">
        {{#each name}}
        <div class="col-md-6 my-5">
            <div class="card text-white bg-secondary mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{Poster}}" class="card-img mt-4 mb-4 ml-2" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{Title}} <span class="">{{Year}}</span></h5>
                            <p class="card-text">{{Plot}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {{/each}}
    </div>
</div>

<div class="container mt-5">
    <div class="row align-items-center mb-5">
        {{#each searched_movie}}
            {{#each Search}}
                <div class="col-md-6 my-3">
                    <div class="card border-light">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center font-weight-bold"> {{Title}}</h5>
                            <a href="/users/movie/{{imdbID}}"><img src="{{Poster}}" alt="poster" /></a>
                            <p class="card-text text-center">( {{Year}} )</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>
</div>

<div class="container mt-5">
    <div class="row mt-5 justify-content-center align-content-center align-items-center">
        {{#each searched_movie}}
            <p class="text-muted text-center">{{Error}}</p>
        {{/each}}
    </div>
</div>
